<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/home/main.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/vendor/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="/resources/js/modules/imgCut/imgareaselect/css/imgareaselect-default.css">

    <script src="/resources/js/vendor/jquery-3.2.1.min.js"></script>
    <script src="/resources/js/vendor/jquery-ui.min.js"></script>
    <script src="/resources/js/util/jquery.crud.js"></script>
    <script src="/resources/js/modules/imgCut/imgareaselect/jquery.imgareaselect.min.js"></script>
    <script src="/resources/js/modules/imgCut/imgCut.js"></script>
    <script src="/resources/js/modules/imgCut/imgCut.shell.js"></script>

    <script src="/resources/js/home/home.js"></script>

    <script src="/resources/js/home/page/home.page.js"></script>
    <script src="/resources/js/home/page/home.page.part.js"></script>
    <script src="/resources/js/home/page/home.page.bigHeadPhoto.js"></script>
    <script src="/resources/js/home/page/home.page.staticPart.js"></script>
    <script src="/resources/js/home/page/home.page.shell.js"></script>

    <script src="/resources/js/home/home.shell.js"></script>
    <script src="/resources/js/home/main.js"></script>

</head>
<body>
<div id="home-container"></div>
</body>
</html>