#home-container {
    font-family: Microsoft JhengHei, serif;
    color: #4d4d4d;
    .banner-container {
        border-bottom: 5px solid #c1c163;
        text-align: center;
        .title {
            font-size: 40px;
        }
    }
    .btn-container{
        width: 21cm;
        margin: 5px auto auto;
    }

}
@import "page";
#dialog {
    font-family: Microsoft JhengHei, serif; // serif for intellij warning
    .img-cut {
        position: relative;
        width: 350px;
        height: 450px;
        border: 1px solid rgba(77, 77, 77, 0.5);
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}